@charset "UTF-8";

@font-face {
    font-family: "Showcard Gothic";
    src: url("../fonts/d66fa62dabed66f2226a1b2d17da0579.eot");
    src: url("../fonts/d66fa62dabed66f2226a1b2d17da0579.eot?#iefix") format("embedded-opentype"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.woff2") format("woff2"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.woff") format("woff"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.ttf") format("truetype"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.svg#Showcard Gothic") format("svg");
}

// Variables
$cream: #F8F1E3;
$text: "Segoe UI", Helvetica, Arial, sans-serif;
$title: "Showcard Gothic", Helvetica, Arial, sans-serif;
$green: #73C8BB;
$orange: #FF8A64;
$black: #333333;
$grey: #444444;

// General
body {
    font-family: $text;
    margin: 0;
    font-size: 16px;
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: red;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: $orange;
}

h1 {
    color: $green;
    font-family: Showcard Gothic;
    color: white;
    line-height: 10px;
    font-size: 2.8em;
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.5em;
}

h2,
h3 {
    color: $black;
    font-weight: normal;
}

p {
    color: $grey;
}

button {
    cursor: pointer;
    border-radius: 200px;
    outline: inherit;
    font-weight: bold;
    transition: all 0.5s;
}

.disabled{
    cursor: not-allowed;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}

input {
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: inherit;
    margin: 0 0.15em;
}

textarea {
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: inherit;
    width: 95%;
    position: relative;
    margin-top: 0.55em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

select {
    padding: 0.5em 1em;
    border-radius: 3px;
    border-color: #ccc;
}

.big-button {
    padding: 1.6em 2em;
    font-size: 1em;
    text-transform: uppercase;
}
.mid-button {
    padding: 0.8em 1.2em;
    font-size: 0.9em;
}
.small-button {
    padding: 0.7em 1.5em;
    font-size: 0.9em;
}

.orange-button {
    border: 1px solid $orange;
    color: white;
    background: $orange;
    box-shadow: darken(rgba($orange, 0.4), 2%) 0 10px 20px;
    i {
        color: #fff;
    }
    &:hover {
        border: 1px solid lighten($orange, 2%);
        background: darken($orange, 2%);
    }
}  

.conteneur{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 25em;
    background-color: red;
    div{
        flex: auto;
    }
}
  
.autocards{
    cursor: pointer;
}

.card {
    background-image: url("http://learnerquiz.info/img/back-family.png");
    background-repeat: no-repeat;
    width: 14em;
    height: 20em;
    border: 15px solid #fff;
    border-radius: 10px;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-size: 80%;
    background-position: 17px 4px;
    background-color: currentColor;
    .back-cardnum {
        font-size: 25px;
        position: absolute;
        top: -0.5em;
        right: 0.5em;
        text-shadow: 3px 3px 0 black;
    }
    .bloc-picto {
        height: 133px;
        display: block;
    }
    .picto-card {
        max-width: 103px;
        max-height: 101px;
        margin: auto;
        display: block;
    }
    .type-question {
        background-color: #fff;
        margin: auto;
        width: 90px;
        height: 15;
        border-radius: 20px;
        font-size: 11px;
        text-align: center;
        position: relative;
        top: 8px;
    }
    .back-family {
        font-size: 14;
        width: 171px;
        display: block;
        text-align: center;
        padding: 0.25em 0;
        margin: auto;
    }
    .bloc-question {
        background-color: #fff;
        width: 90%;
        height: 93px;
        margin: auto;
        padding: 0.25em 0;
        text-align: center;
        border-radius: 10px;
        font-size: 13px;
        p{
            padding: 0 1em;
        }
    }
    .bloc-reponse {
        margin: auto;
        font-size: 10px;
        position: relative;
        top: 1.25em;
        font-weight: bolder;
        font-size: 1em;
        padding: .5em 0;
        border-radius: 5px;
    }
    .fun-font {
        font-family: Showcard Gothic;
        color: white;
        line-height: 10px;
    }

}