@charset "UTF-8";



// General
body {
    font-family: $text;
    margin: 0;
    font-size: 16px;
    background-image: url('../../img/background.png'), linear-gradient(0.5turn, darken($cream, 7%), darken($cream, 2%), darken($cream, 7%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: $orange;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    padding-top: 1em;
    font-size: .85em;
}

h1 {
    font-family: $text;
    text-transform: uppercase;
    color: $green;
    font-size: 1.65em;
    font-weight: bolder;
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.5em;
}

h2,
h3 {
    color: $black;
    font-weight: normal;
}

p {
    color: $grey;
}

button {
    cursor: pointer;
    border-radius: 200px;
    outline: inherit;
    font-weight: bold;
    transition: all .5s;
    font-family: $title;
    @include moveTop;
    &:hover{
       @include funnyText;
    }    
      
}

.disabled{
    cursor: not-allowed;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}

input {
    padding: .85em 1em;
    border-radius: 10px;
    margin: .5em 0;
    border: 2px solid #fff;
    outline: inherit;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.469);
    font-size: 1.15em;
    color: darken($lightGrey, 10%);
    font-weight: bold;
    text-transform: uppercase;
    &::-webkit-input-placeholder{
        color: $lightGrey;
    }
}

textarea {
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: inherit;
    width: 95%;
    position: relative;
    margin-top: 0.55em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

select {
    padding: 0.5em 1em;
    border-radius: 3px;
    border-color: #ccc;
}

.big-button {
    padding: .5em 1.5em .8em 1.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    .maj{
        font-size: 1.5em;
    }
}
.mid-button {
    padding: 0.8em 1.2em;
    font-size: 0.9em;
}
.small-button {
    padding: 0.7em 1.5em;
    font-size: 0.9em;
}

.orange-button {
    border: 5px solid #FCFFFE;
    color: white;
    background: radial-gradient(at 50%  150%, rgba($bright, .8), $orange);
    filter: brightness(1.1);
    @include thinShadow;
    //animation: colorSpin 2s linear infinite;
    &:active{
        background-color: darken($orange, 10%);
    }
}  

.conteneur{
    display: flex;
    align-items: center;  
    justify-content: center;
    width: 100vw;
    height: 100vh;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    .content{
        max-width: 340px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 3px solid rgba(255, 255, 255, 0.4);
        padding: 2em 1em 3.5em 1em;
        border-radius: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 1s;
        transition-timing-function: $funnyBezier;
        @include thinShadow;
    }
}
  
.autocards{
    cursor: pointer;
}

.card {
    background-image: url("http://learnerquiz.info/img/back-family.png");
    background-repeat: no-repeat;
    width: 14em;
    height: 20em;
    border: 15px solid #fff;
    border-radius: 10px;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-size: 80%;
    background-position: 17px 4px;
    background-color: currentColor;
    .back-cardnum {
        font-size: 25px;
        position: absolute;
        top: -0.5em;
        right: 0.5em;
        text-shadow: 3px 3px 0 black;
    }
    .bloc-picto {
        height: 133px;
        display: block;
    }
    .picto-card {
        max-width: 103px;
        max-height: 101px;
        margin: auto;
        display: block;
    }
    .type-question {
        background-color: #fff;
        margin: auto;
        width: 90px;
        height: 15;
        border-radius: 20px;
        font-size: 11px;
        text-align: center;
        position: relative;
        top: 8px;
    }
    .back-family {
        font-size: 14;
        width: 171px;
        display: block;
        text-align: center;
        padding: 0.25em 0;
        margin: auto;
    }
    .bloc-question {
        background-color: #fff;
        width: 90%;
        height: 93px;
        margin: auto;
        padding: 0.25em 0;
        text-align: center;
        border-radius: 10px;
        font-size: 13px;
        p{
            padding: 0 1em;
        }
    }
    .bloc-reponse {
        margin: auto;
        font-size: 10px;
        position: relative;
        top: 1.25em;
        font-weight: bolder;
        font-size: 1em;
        padding: .5em 0;
        border-radius: 5px;
    }
    .fun-font {
        font-family: Showcard Gothic;
        color: white;
        line-height: 10px;
    }

}