@keyframes funny {
  0% { transform: rotate(0deg); } 
  33% { transform: rotate(-15deg); }
  66% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes funny {
  0% { transform: rotate(0deg); } 
  33% { transform: rotate(-15deg); }
  66% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

@keyframes colorSpin {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.15);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes spring {
  0% { transform:  scale3d(0.96,0.96,1); }
  20% { transform: scale3d(1.1,1.1,1); }
  40% { transform: scale3d(0.98,0.98,1); }
  60% { transform: scale3d(1.05,1.05,1); }
  80% { transform: scale3d(1.01,1.01,1); }
  100% { transform: scale3d(1,1,1); }
}