@font-face {
    font-family: "Showcard Gothic";
    src: url("../fonts/d66fa62dabed66f2226a1b2d17da0579.eot");
    src: url("../fonts/d66fa62dabed66f2226a1b2d17da0579.eot?#iefix") format("embedded-opentype"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.woff2") format("woff2"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.woff") format("woff"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.ttf") format("truetype"), url("../fonts/d66fa62dabed66f2226a1b2d17da0579.svg#Showcard Gothic") format("svg");
}

$text: "Segoe UI", Helvetica, Arial, sans-serif;
$title: "Showcard Gothic", Helvetica, Arial, sans-serif;

$cream: #F8F1E3;
$dark: #3c2a55;
$green: #73C8BB;
$orange: #FF8A64;
$darkOrange: #dc8465;
$purple: #6f3b96;
$black: #333333;
$grey: #444444;
$textP: #777777;
$bright: #FECB96;
$lightGrey: #d6d5d1;
$cursor: url("../../../../public/cursor.png") 0 0, auto;
$pointer: url("../../../../public/pointer.png") 0 0, auto;

$funnyBezier: cubic-bezier(.0,-0.0,1,-0.0);