.cartes{
    input, textarea{
        color: $textP;
        text-transform: inherit;
        font-size: 1em;
        &::placeholder {
            text-transform: uppercase;
            font-size: 1.15em;
        }
    }
    .step{
        display: block;
        font-size: .85em;
        color: $textP;
        position: relative;
        top: 1em;
    }
    .step1{
        h1{
            display: block;
            padding-bottom: .5em;
        }
        .allPack{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-height: 19em;
            overflow-y: scroll;
            margin-bottom: 1em;
            p.empty{
                max-width: 80%;
                margin: auto;
                padding: 2em 0 3em 0;
            }
            .pack{
                width: 33%;
                &:hover{
                    img{
                        @include funnyImg;
                        opacity: .65;
                    }
                    p{
                        color: $orange !important;
                    }
                }
                div{
                    height: 6em;
                    cursor: $cursor;
                }
                p{
                    margin: 0;
                    padding: 0 0 1em 0;
                    .name{
                        font-weight: bold;
                    }
                    .number{
                        font-size: .85em;
                    }
                }   
                img{
                    transition: all .5s; 
                }       
            }
        }
        button{
            margin: .75em auto 0 auto !important;
        }
    }
    .step3{
        p{
            padding: .35em 0;
            margin: 0;
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            margin: auto;
            .ssButton{
                margin: 2em auto;
                text-align: center;
                input[type="text"]{
                    font-size: .9em;
                }
            }
        }
        .bottomBloc{
            margin-bottom: 1.5em;
            .bloc{
                display: block;        
                .bottom{
                    display: inline-flex;
                    .buttonGroups{
                        margin-right: .5em;
                    }
                    input{
                        padding: 0.5em .75em;
                        width: 100%;
                        margin: 0.25em 0;
                    }
                }
            }
        }
    }
    .step4{
        p{
            max-width: 80%;
            margin: 1em auto;
        }
        .align-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: auto;
        }
        .navigationgroupText{
            display: inline-block;
            position: relative;
            top: -.35em;
        }
        .navigationgroup{
            background-color: rgba(255, 255, 255, 0.469);
            border: 2px solid #fff;
            padding: 1em .5em .25em .5em;
            border-radius: 10px;
            margin: 0 .25em;
            img{
                opacity: .5;
                width: 1.5em;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 1);
            }
            &:active{
                background-color: rgb(230, 230, 230);
            }
        }
        .doubleNavigationgroup{
            @extend .navigationgroup;
        }
        .select{
            position: relative;
            display: block;
            .customSelect{
                @include inputStyle;
                display: block;
                border: 2px solid #fff;
                background-color: #FCF8F1;
                padding: .65em 1em;
                text-align: left;
                z-index: 99;
                position: relative;
            }
            .listing{
                position: absolute;
                background-color: #fff;
                display: block;
                z-index: 9;
                width: 100%;
                text-align: left;
                top: 2.5em;
                max-height: 20em;
                overflow-x: hidden;
                overflow-y: scroll;
                padding-top: 1em;
                padding-bottom: 1em;
                border-bottom-left-radius: 10px 10px;
                border-bottom-right-radius: 10px 10px;
                p{
                    max-width: inherit;
                    margin: inherit;
                    padding: 1em;
                    cursor: $cursor;
                    &:hover{
                        background-color: #f0f0f0;
                    }
                }
                .listPicto{
                    position: relative;
                    left: 1em;
                    .navCat{
                        margin-top: .5em;
                        .add{
                            display: inline-block;
                            font-size: 1.25em;
                            padding: 0em .4em .5em .4em;
                            border: 1px solid #f0f0f0;
                            border-radius: 5px;
                            margin-right: .2em;
                            color: #444;
                            height: 1em;
                        }
                        .pastille{
                            display: inline-block;
                            border: 1px solid $orange;
                            border-radius: 5em;
                            padding: 0em 1em .35em 1em;
                            color: $orange;
                            font-size: .85em;
                            margin: 0 .15em;
                            &:hover{
                                background-color: $orange;
                                cursor: $cursor;
                                color: #fff;
                            }
                            .plus{
                                transform: rotate(45deg);
                                display: inline-block;
                                position: relative;
                                left: -.2em;
                                margin: 0;
                                padding: 0;
                                font-size: 1.25em;
                                position: relative;
                                top: 1px;
                            }
                        }
                    }
                    .allPictos{     
                        padding-top: 1em;                   
                        .globPicto{
                            border: 2px solid #68645f36;
                            background-color: #9e9a9380;
                            display: inline-block;
                            padding: .75em;
                            border-radius: 10px;
                            margin: .25em;
                            cursor: $cursor;
                        }
                    }
                }
            }
        }
    }
    .step5{
        .slider{
            display: inline-flex;
            white-space: nowrap;
            .card{
                margin: 1em 1em 0 1em;
            }
        }
        button{
            margin-top: 2em;
        }
    }      
}