.cartes{
    input, textarea{
        color: $textP;
        text-transform: inherit;
        font-size: 1em;
        &::placeholder {
            text-transform: uppercase;
            font-size: 1.15em;
        }
    }
    .step{
        display: block;
        font-size: .85em;
        color: $textP;
        position: relative;
        top: 1em;
    }
    .step1{
        h1{
            display: block;
            padding-bottom: .5em;
        }
        .allPack{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-height: 19em;
            overflow-y: scroll;
            margin-bottom: 1em;
            p.empty{
                max-width: 80%;
                margin: auto;
                padding: 2em 0 3em 0;
            }
            .pack{
                width: 33%;
                &:hover{
                    img{
                        @include funnyImg;
                        opacity: .65;
                    }
                    p{
                        color: $orange !important;
                    }
                }
                div{
                    height: 6em;
                    cursor: $cursor;
                }
                p{
                    margin: 0;
                    padding: 0 0 1em 0;
                    .name{
                        font-weight: bold;
                    }
                    .number{
                        font-size: .85em;
                    }
                }   
                img{
                    transition: all .5s; 
                }       
            }
        }
        button{
            margin: .75em auto 0 auto !important;
        }
    }
    .step3{
        p{
            padding: .35em 0;
            margin: 0;
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            margin: auto;
            .ssButton{
                margin: 2em auto;
                text-align: center;
                input[type="text"]{
                    font-size: .9em;
                }
            }
        }
        .bottomBloc{
            margin-bottom: 1.5em;
            .bloc{
                display: block;        
                .bottom{
                    display: inline-flex;
                    .buttonGroups{
                        margin-right: .5em;
                    }
                    input{
                        padding: 0.5em .75em;
                        width: 100%;
                        margin: 0.25em 0;
                    }
                }
            }
        }
    }
    .step4{
        p{
            max-width: 80%;
            margin: 1em auto;
        }
        .align-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: auto;
        }
        .navigationgroupText{
            display: inline-block;
            position: relative;
            top: -.35em;
        }
        .navigationgroup{
            background-color: rgba(255, 255, 255, 0.469);
            border: 2px solid #fff;
            padding: 1em .5em .25em .5em;
            border-radius: 10px;
            margin: 0 .25em;
            img{
                opacity: .5;
                width: 1.5em;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 1);
            }
            &:active{
                background-color: rgb(230, 230, 230);
            }
        }
        .doubleNavigationgroup{
            @extend .navigationgroup;
        }
    }
    .step5{
        .slider{
            display: inline-flex;
            white-space: nowrap;
            .card{
                margin: 1em 1em 0 1em;
            }
        }
        button{
            margin-top: 2em;
        }
    }      
}